* {
    background-color: #232222;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    color: white;
}

.header-container {
    position: fixed;
    /* border: 2px solid red; */
    left: 0rem;
    top: 0;
    display: grid;
    height: 7vh;
    grid-template-columns: 7vw 84vw 9vw;
    z-index: 999;
}

.grid-item {
    border-bottom: 1px solid black;
    /* border: 2px solid red; */
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items:center
}

.water-mark {
    color: #C30FF0;
    font-size: 18px;
    border-right: 1px solid black;
}

.logout-container {
    border-left: 1px solid black;
}

.header-buttons {
    display: flex;
    justify-content: flex-start;
    /* border: 1px solid red; */
    gap: 1.5vw;
}

.header-buttons-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    /* border: 1px solid red; */
    gap: 1.5vw;
}

.header-btn {
    height: 4vh;
    border-radius: 4px;
    border: 1px solid black;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

.header-btn:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.main-container {
    /* border: 1px solid blue; */
    position: fixed;
    top: 8vh;
    width: 99vw;
    height: 91vh;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    position: fixed;
    top: 10vh;
    left: 44vw;
}
.title-1 {
    /* border: solid 1px red; */
    font-size: 40px;
}
.title-2 {
    /* border: solid 1px yellow; */
    font-size: 16px;
}

.above-chart-selection-container {
    position: fixed;
    top: 20vh;
    left: 3vw;
    height: 5vh;
    /* border: solid 1px red; */
}

.above-chart-selection {
    height: 5vh;
    width: 6vw;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 10px
}

.above-chart-selection:hover {
    filter: brightness(80%);
}

.selected-selection {
    border: 2px solid blue;
}

.chart-container {
    position: fixed;
    left: 3vw;
    top: 26vh;
    width: 70vw;
    height: 70vh;
    border: 2px solid black;
    border-radius: 6px;
}

.chart-stats-container {
    position: fixed;
    left: 75vw;
    top: 26vh;
    width: 23vw;
    height: 70vh;
    border: solid 1px purple;
}

.static-stats-container {
    position: fixed;
    top: 27vh;
    left: 76vw;
    border: 1px solid green;
    width: 21vw;
    height: 45vh;
}

.dynamic-stats-container {
    position: fixed;
    top: 74vh;
    left: 76vw;
    border: 1px solid yellow;
    width: 21vw;
    height: 20vh;
}